<div class="page-header"> 
<h1>Játékleírások Portál</h1> </div>

<p>Az alábbi oldalon láthatod a közösség által összegyűjtött játékleírásokat. Minden egy helyen! </p>
<p>Ha a kedvenced nincs a listában, nyugodtan vidd fel, bővítsd a gyűjteményt!</p>
<p><img src="http://blog.techtab.co.uk/wp-content/uploads/2015/06/GamesLogo1.png"></p>